In [1]:
import pandas as pd

In [2]:
dict_medidas = {'idade': [15, 18, 25, 35, 40, 55, 58, 60, 80], 'altura': [160, 162, 165, 168, 172, 174, 174, 174, 175]}

In [3]:
dict_medidas

{'idade': [15, 18, 25, 35, 40, 55, 58, 60, 80],
 'altura': [160, 162, 165, 168, 172, 174, 174, 174, 175]}

In [4]:
df_medidas = pd.DataFrame.from_dict(dict_medidas)

In [5]:
df_medidas

   idade  altura
0     15     160
1     18     162
2     25     165
3     35     168
4     40     172
5     55     174
6     58     174
7     60     174
8     80     175

## Medidas Resumo

### Medidas de Posição

In [6]:
# media
df_medidas["idade"].mean()

np.float64(42.888888888888886)

In [7]:
# mediana

df_medidas["altura"].median()

np.float64(172.0)

In [8]:
# moda

df_medidas["idade"].mode()

0    15
1    18
2    25
3    35
4    40
5    55
6    58
7    60
8    80
Name: idade, dtype: int64

In [9]:
# moda

df_medidas["altura"].mode()

0    174
Name: altura, dtype: int64

### Medias de Dispersão

In [10]:
# Variancia

df_medidas.idade.var()

np.float64(479.1111111111111)

### Medidas de disperção

In [11]:
# variancia

df_medidas.idade.var()

np.float64(479.1111111111111)

In [12]:
# Desvio padrao
df_medidas.idade.std()

np.float64(21.888606879176002)

In [13]:
# Coeficiencia de Variação - idade

df_medidas.idade.std() / df_medidas.idade.mean() * 100

np.float64(51.035611894451826)

In [14]:
df_medidas.altura.std() / df_medidas.altura.mean() * 100

np.float64(3.4052842307098805)

### Medida de Forma

In [15]:
# Assimetria da idade

df_medidas.idade.skew()

np.float64(0.275828956537713)

In [16]:
# Assimetria da altura

df_medidas.altura.skew()

np.float64(-0.6582957319652566)

In [17]:
# Curtose  - Idade

df_medidas.idade.kurtosis()

np.float64(-0.8943265665390792)

In [18]:
# Curtose - Altura

df_medidas.altura.kurtosis()

np.float64(-1.3392342295050121)

In [19]:
# Obter medidas estatisticas

df_medidas.idade.describe()

count     9.000000
mean     42.888889
std      21.888607
min      15.000000
25%      25.000000
50%      40.000000
75%      58.000000
max      80.000000
Name: idade, dtype: float64

### Correlação de Variaveis

In [20]:
# Correlação do DataFrame

df_medidas.corr(method='pearson')

           idade    altura
idade   1.000000  0.931275
altura  0.931275  1.000000

In [21]:
# Correlação entre 2 variáveis

df_medidas.idade.corr(df_medidas.altura)

np.float64(0.9312749008079807)

In [22]:
# Correlação do DateFrame, segundo Spearman

df_medidas.corr(method='spearman')

           idade    altura
idade   1.000000  0.983192
altura  0.983192  1.000000

## Representação Gráficas

In [26]:
# Histograma - Idade

df_medidas.idade.hist()

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.