In [2]:
import pandas as pd

In [3]:
dict_faturamento = {
    'data_ref': [
        '2023-01-01', 
        '2020-02-01', 
        '2021-03-01', 
        '2022-04-01', 
        '2023-05-01',
        '2023-06-01', 
        '2020-07-01', 
        '2021-08-01', 
        '2022-09-01', 
        '2023-10-01',
        '2022-11-01', 
        '2023-12-01',
        ],
    'valor': [
        400000, 
        890000, 
        760000, 
        430000, 
        920000,
        340000, 
        800000, 
        500000, 
        200000, 
        900000,
        570000, 
        995000,
        ]
}

In [5]:
df_faturamento = pd.DataFrame.from_dict(dict_faturamento)

In [6]:
df_faturamento

      data_ref   valor
0   2023-01-01  400000
1   2020-02-01  890000
2   2021-03-01  760000
3   2022-04-01  430000
4   2023-05-01  920000
5   2023-06-01  340000
6   2020-07-01  800000
7   2021-08-01  500000
8   2022-09-01  200000
9   2023-10-01  900000
10  2022-11-01  570000
11  2023-12-01  995000

In [7]:
media_vendas = round (df_faturamento["valor"].mean(), 2)

media_vendas

np.float64(642083.33)

In [8]:
print(f"A media de vendas é: {media_vendas}")

A media de vendas é: 642083.33

### Exercicio 2

In [9]:
import matplotlib.pyplot as plt

df_faturamento.plot.bar(x='data_ref', y='valor')

ModuleNotFoundError: No module named 'matplotlib'